

<mat-drawer-container class="example-container" autosize>
  <mat-drawer #drawer mode="side" disableClose="false">
    <mat-chip-listbox aria-label="Technology selection" (change)="selectedTech($event)">
      <mat-chip-option selected>All</mat-chip-option>
      <mat-chip-option>DSA</mat-chip-option>
      <mat-chip-option>Java</mat-chip-option>
      <mat-chip-option>SpringBoot</mat-chip-option>
      <mat-chip-option>Angular</mat-chip-option>
    </mat-chip-listbox>
    <mat-list class="example-list-wrapping">
      <mat-list-item lines="3" class="list-display" *ngFor="let topic of listOfTopics">
        <span matListItemTitle>{{topic.title}}</span>
        <span>
          {{topic.description}}
        </span>
        <button mat-button (click)="openTopic(topic.topicId)">Demo</button>
      </mat-list-item>
    </mat-list>
  </mat-drawer>

  <div class="example-sidenav-content">
    <button type="button" mat-button (click)="drawer.toggle()">
      {{drawer.opened ? 'Close' : 'Open'}}
    </button>
    <ng-template #dynamicComponentTemplate></ng-template>
    </div>
</mat-drawer-container>